{% load static %}
<header>
    <div class="jumbotron">
            <div class="container fundo-logo">
                <img src="{% static 'images/logo.png' %}">
            </div>
        </div>
    	<div class="navbar navbar-default footer-collor">
    		<div class="container">
    			<div class="navbar-header">
    				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    				</button>
    				<a href="#" class="navbar-brand active">Bar do Chapa</a>
    			</div>

    			<div class="collapse navbar-collapse" id="example">
    				<ul class="nav navbar-nav">
    					<li class="active"><a href="#">Pratos</a></li>
    					<li><a href="#">Fotos</a></li>
    					<li><a href="#">Contato</a></li>
    				</ul>
    			</div>

    		</div>
    	</div>
    </header>




