body {
    /*-background-color: #DEB887;-*/
    /*background-repeat: repeat-x;*/
    background-image: url(../images/lowrider_bottom.jpg) ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.head-back-color {
	background-color: #2F4F4F;
}

.cont-back-color {
	background-color: #FF0000;
}

.row1-back-color {
	background-color: #FFA500;
}

.row2-back-color {
	background-color: #FFDAB9;
}

.row3-back-color {
	background-color: #87CEEB;
}


.col1-atr, .col2-atr, .col3-atr {
	margim: 0;
	padding: 0;
	height: 720px;
}

.fundo-logo {
     background-image: url();
}


.col1-atr {
background-color: #008000;
}

.col2-atr {
background-color: #FFFFFF;
}

.col3-atr {
background-color: #FF0000;
}

.footer-collor {
	background-color: #000000;
	height: 80px;
}

.skull-mini {
    background-image: url();
}

.fundo-content {
	width: 1150px;
	height: 700px;
}
